<nav class="container py-16 d-flex align-center justify-between">
        <ul class="d-flex align-center">
            <li class="me-48">
                <a href="#">
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week1/logo.svg" alt="logo">
                </a>
            </li>
            <li class="me-40 d-sm-none">
                <a href="no3-p2.html" class="py-12">商品列表</a>
            </li>
            <li class="d-sm-none"><a href="/0822-story.html" class="py-12">品牌故事</a></li>
        </ul>
        <a href="#" class="p-12"><i class="bi bi-person"></i></a>
    </nav>