/* 顏色 */
:root {
    --primary-100:rgba(245, 254, 231, 1);
    --primary-200:rgba(232, 254, 197, 1);
    --primary-300:rgba(192, 250, 115, 1);
    --primary-400:rgba(87, 162, 3, 1);
    --primary-500:rgba(71, 122, 17, 1);
    --neutral-0:rgba(255, 255, 255, 1);
    --neutral-100:rgba(248, 249, 250, 1);
    --neutral-200:rgba(233, 236, 239, 1);
    --neutral-300:rgba(222, 226, 230, 1);
    --neutral-400:rgba(206, 212, 218, 1);
    --neutral-500:rgba(173, 181, 189, 1);
    --neutral-600:rgba(108, 117, 125, 1);
    --neutral-700:rgba(73, 80, 87, 1);
    --neutral-800:rgba(52, 58, 64, 1);
    --neutral-900:rgba(33, 37, 41, 1);
    --danger-300:rgba(215, 79, 79, 1);
}